html

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  header {
    height: 100px;
    background: white;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
  }


  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }
  .game {
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
  }

  .result {
    padding-top: 20px;
  }


  #result {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    color: #990015;
    font-size: 30px;
    font-weight: bold;
  }
  
  .options {
    padding-top: 20px;
    align-content: center;
    display: flex;
  }

  .computer, .restart {
    margin: 0 auto;
    padding: 0;
  }
  
  button {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: black;
    clip-path: circle(31.8% at 50% 50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
  }



