* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 100px;
    background: white;
    text-align: center;
    vertical-align: middle;
  }
  .game {
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
  }
  
  .options {
    align-content: center;
    display: flex;
  }

  .computer, .restart {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  }
  
  button {
    display: inline;
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: black;
    clip-path: circle(31.8% at 50% 50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: 4px solid white;
  } 
  


